@import "../../node_modules/@navikt/ds-css/dist/global/fonts.css";
@import "../../node_modules/@navikt/ds-css/dist/global/tokens.css";
@import "../../node_modules/@navikt/ds-css/dist/global/reset.css";
@import "../../node_modules/@navikt/ds-css/dist/global/baseline.css";
@import "../../node_modules/@navikt/ds-css/dist/global/print.css";
@import "../../node_modules/@navikt/ds-css/dist/component/typography.css";
@import "../../node_modules/@navikt/ds-css/dist/component/link.css";
@import "../../node_modules/@navikt/ds-css/dist/component/loader.css";
@import "../../node_modules/@navikt/ds-css/dist/component/linkcard.css";
@import "../../node_modules/@navikt/ds-css/dist/component/tag.css";
@import "../../node_modules/@navikt/ds-css/primitives/stack.css";

/*html,*/
/*body {*/
/*    height: 100%;*/
/*}*/

/*body {*/
/*    background-color: var(--a-bg-subtle);*/
/*    font-family: sans-serif;*/
/*}*/

/*main {*/
/*    margin: auto;*/
/*    max-width: 808px;*/
/*    min-height: 100vh;*/
/*    display: grid;*/
/*    grid-template-columns: 1fr;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/
