.loading {
  border-radius: 8px !important;
  background-color: var(--a-surface-subtle) !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  height: 159px;
}

/* Nødvendig for å justere makshøyde på større skjermer, unngår unødvendig layoutshift */
@media screen and (min-width: 486px) {
  .loading {
    height: 130px;
  }
}
