name: Bygg og test pull request

on:
  workflow_dispatch:
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  buildAndTest:
    name: "build"
    runs-on: "ubuntu-latest"
    env:
      NPM_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}

    permissions:
      contents: "read"
      id-token: "write"
      packages: "write"

    steps:
      - uses: "actions/checkout@v5"
      - name: Enable Corepack
        run: corepack enable
      - uses: "actions/setup-node@v5"
        with:
          node-version: 22
          registry-url: "https://npm.pkg.github.com"
          cache: "yarn"

      - name: "Install dependencies"
        run: "yarn --immutable"

      - name: "Tests"
        run: "yarn run test"

      - name: "Build application"
        run: "yarn run build"
